@media screen and (max-width:480px) {

    *{
        box-sizing: border-box;
    }


/* utilities */
    .flex {
        display: flex;
    }
    .block {
        display: block;
    }

    .grid {
        display: grid;
    }

    /* defining font and background colors  */
    body {
        background-color: #1D1E1F;
        color: white;
    }

    .default_user_image i{
        color: white;
        font-size: 80px;
 
    }


    .invite_button button {
        background-color: #137337;
    }

    .invitation_container {
       background-color: #717375;
       padding-bottom: 20px;
       height: 50%;
    }

    /* Element position */
    .invite_Text {
       gap: 110px;
    
    }

    .send_recieved{
        width: 50%;
        padding-top:14px ;
        font-size: small;

    }

    .profile_picture {
       text-align: center;
    }

    /*rounded */
    .rounded {
        
        width: 15px;
        height: 15px;
        border-radius: 50%;
        
        margin: 1px;

    }


    .white_rounded {
      
        background-color: white;
        border: 1px solid white;
       
    }

    .people_to_invite {
        gap: 20px;
    }

    .green_rounded {
        background-color: #137337 ;
        border: 1px solid white ;
        
    }

    .black_rounded {
        border: 1px solid white ;
        
    }
    .invitations_section_rounds{
        gap: 9px;
      
       
    }

    .invitations{
        background-color: #1D1E1F;
        border-radius: 9px;
        margin: 9px;
        gap: 12px;
        
    }

    .invitation_container{
        padding-top: 7px;
        height: 305px;
        overflow: scroll;
    }

    .small_profile_picture {
        padding: 12px;
    }

    .invite_button button{
        border: none;
        
    }

    .invite_button {
       display: flex;
       align-content: center;
       justify-content: center;
       margin: 50px;
    }

    .invite_button button{
        border-radius: 12px;
        font-size: 30px;
     }

     .rightsection div  {
        padding-bottom: 10px;
     }

   
}