<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acecept-declinepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/page_decline.css">
    <link rel="stylesheet" href="../static/css/profilestyle.css">
</head>
<body>

    <div class="principalContainer">
        <div class="profilePicture">
            <img src="" alt="">
            <i class="fa fa-user-o"></i>
        </div>

   
            
        <div class="acceptDeclineContainer centredBlock container">
            <div class="nameLevel flex">
                <div class="nameContainer">
                    <div class="name" >Name</div>  
                </div>
                <div class="level flex ">
                    <div class="rounded green_rounded"></div>
                    <div class="rounded black_rounded"></div>
                </div>

            </div>
    
            <div class="nameMessageSection">
                <p class="nameMessage"><span>Name</span> <span class="message"> Invited you to play</span></p>
            </div>
    
            <div class="gamePreview">
                <img src="../../3ways_portal_devellop/static/images/logo_3ways_game.png" alt="">
            </div>
    
            <div class="acceptDeclineButtons flex">
                <button class="button accept">Accept</button>
                <button class="button Decline">Decline</button>
            </div>
            
    </div>
   

    </div>
</body>
</html>