<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dynamic.css">
    <script src="../static/js/dynamic.js" defer></script>
    <title>introduction</title>
</head>
<body>
    <div class="section">
        <template id="welcom">
            <div class="logo_nways">
                <img src="../static/images/logo_nways.png" alt="logo_nways">
            </div>
            <div class="motivation_message">
                <p><span>play</span> and<span> earn</span> money</p>
            </div>
            <div class="buttons">
                <button class="sign_up">Sing-up</button>
                <button class="sign_in">Sing-in</button>
            </div>
            <div class="our_comminoty">
                <img src="../static/images/facebook.png" alt="facebook" width="44px" height="44px">
                <img src="../static/images/instagram.png" alt="instagram" width="44px" height="44px">
                <img src="../static/images/youtube.png" alt="youtube" width="44px" height="44px">
                <img src="../static/images/twitter.png" alt="twitter" width="44px" height="44px">
            </div>
        </template>
        <template id="Sing-up">
            <div class="logo_nways">
                <img src="../static/images/logo_nways.png" alt="logo_nways">
            </div>
            <div class="sign-up">
                <p>sign-up</p>
                <form action="">
                    <input type="email" name="user_email" id="email" placeholder="Email">
                    <input type="password" name="user_password" id="password" placeholder="Pass word">
                </form>
                <p>Or sign-up with</p>
            </div>
            <div class="other_methodes">
                <img src="../static/images/facebook.png" alt="facebook" width="44px" height="44px">
                <img src="../static/images/icons8_google_480px_1.png" alt="google" width="44px" height="44px">
            </div>
        </template>
    </div>
</body>
</html>