<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel="stylesheet" href="../static/css/newprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
</head>
<body>

    <div class="header">
        <div class="title">
            Players
        </div>

        <div class="menu">
            <i class="fa fa-bars"></i>
        </div>

    </div>

    <div class="playersContainer">
        <div class="invitations flex" id="recieved">
            <div class="people_to_invite flex">
                <div class="small_picture">
                    <img src="../static/images/Avatar.png" alt="">
                    <!-- <i class="fa fa-user-o"></i> -->
                </div>
    
                <div class="rightsection flex">
                    <div class="status-name flex">
                        <div class="smallname">Gloire Ahadi</div>  
                    </div>
                    <div class="section_rounds flex">
                        <div class="green_rounded rounded"> </div>
                        <div class="black_rounded rounded"> </div>
                    </div>
                       
                </div>
            </div>
         
    
            <div class="status">Offline</div>
        </div>

    </div>


    <div class="invitationBox">
        <div class="information flex">
            <div class="smallname">Gloire Ahadi</div>
            <div class="section_rounds flex">
                <div class="green_rounded rounded"> </div>
                <div class="black_rounded rounded"> </div>
            </div>
        </div>

        <div class="action flex">
            <button>Invite</button>
        </div>

    </div>

 
    
</body>
</html>