<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="profilestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu">
        <i class="fa fa-bars"></i>
    </div>
    <div class="profile_picture">
        <img src="" alt="">
       <div class="default_user_image">
            <i class="fa fa-user-o"></i>
       </div> 

    </div>
<!-- INvitation /sent and recieved -->
    <div class="invite_Text flex">
        <div class="Invitation">
            <p>Invitations</p>
        </div>

        <div class="send_recieved flex">
              <form action="" id="invitationsFormular" >
                <input type="radio" name="recieved" id="recieved" value="recieved"><label for="recieved">Recieved</label>
                <input type="radio" name="recieved" id="recieved" value="recieved"><label for="recieved">Sent</label>
            
              </form>
        </div>
    </div>
    <!-- end invitation /sent and recieved  -->


    <!-- Start invitstion section -->
    <div class="invitation_container">
        <div class="invitations flex">
            <div class="people_to_invite ">
                <div class="small_profile_picture">
                    <div class="small_picture">
                        <i class="fa fa-user-o"></i>
                    </div>

                </div>
            </div>
            <div class="rightsection">
                <div class="smallname">Name</div>
                    <div class="invitations_section_rounds flex">
                        <div class="green_rounded rounded"> </div>
                            <div class="black_rounded rounded"> </div>
                        </div>
        
                    </div>
            </div>
          
    </div>
       
            
  
<!-- Invitation Section Ends here -->

<!-- Inviting -->
    <div class="invite_button">
            <button>Invite a friend</button>
    </div>
<!-- End inviting people -->

    <script src="./profile.js"></script>
    
</body>
</html>